<!-- <div class="collection-card-big">
  <div class="big-collection-card-title">
    <div class="header-caption16"></div>
    <h2><%#= link_to collection.title %></h2>
    <div class="header-caption16">
      <%# collection.routes.each do |routes| %>
        <%#= routes.count %>
      <%# end %>
    </div>
  </div>
</div>

<div class="small-collections-container">
  <div class="collection-card-small">
    <div class="small-collection-card-title">
      <div class="header-caption14">Маршруты</div>
      <h3><%#= link_to collection.title %></h3>
      <div class="header-caption14">19 маршрутов</div>
    </div>
  </div>

  <div class="collection-card-small">
    <div class="small-collection-card-title">
      <div class="header-caption14">Маршруты</div>
      <h3><%#= link_to collection.title %></h3>
      <div class="header-caption14">19 маршрутов</div>
    </div>
  </div>

</div> -->
