<div class="place-item">
  <div class="place-pic">
    <% spot.spot_images.each_with_index do |image, i| %>
      <%= image_tag image.image.url if i==0 %>
    <% end %>
  </div>
  <div class="place-info">
    <div class="header-caption14">
      <% spot.tags.first(1).each do |tag| %>
        <%= link_to tag.name.delete_prefix('#'), tagged_path(tag: tag.name) %>
      <% end %>
    </div>
    <div class="body16-bold"><%= link_to spot.description.truncate(70), spot.route %></div>
  </div>
</div>
