<h1>Список пользователей</h1>

<div>
  <% @users.each do |user| %>
    <div>email: <%= user.email %></div>
    <div>nickname: <%= user.nickname %></div>
    <div>banned: <%= user.banned %></div>
    <div>role: <%= user.role %></div>
    <br>
  <% end %>
</div>
