<div class="wrapper">

  <div class="route-header">
    <h2>Мои маршруты</h2>
  </div>

  <div class="route-card__container">
    <% current_user.routes.each do |route| %>
      <div class="route-card">
        <div class="route-pic">
          <% if route.cover.present? %>
            <%= image_tag route.cover.url %>
          <% end %>
        </div>

        <div class="card-content__frame">
          <div class="header-caption12">НИЖЕГОРОДСКАЯ ОБЛАСТЬ</div>
          <h4><%= link_to route.title, route %></h4>

          <div class="route-info">
            <div class="body16-bold"><%= number_to_human(route.distance, units: :distance) %></div>
            <div>
              <span></span>
              <div class="body16-bold"><%= route.difficulty %></div>
            </div>
          </div>
        </div>
      </div>

      <%# if can? :update, Route %>
        <%#= link_to 'Редактировать маршрут', edit_route_path(route) %>
      <%# end %>

      <%# if can? :destroy, Route %>
        <%#= link_to 'Удалить маршрут', route, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%# end %>
    <% end %>
  </div>
</div>
