<div class="route-card">
  <div id="h4"><%= link_to route.title, route %></div>

  <div class="route-info">
    <div id="body-m--bold"><%= number_to_human(route.distance, units: :distance) %></div>
    <div id="body-m--bold"><%= route.difficulty %></div>
  </div>

  <div class="route-pic">
    <% if route.cover.present? %>
      <%= image_tag route.cover.url %>
    <% end %>
  </div>
</div>
