<div class="wrapper">

  <div class="route-page__wrapper">
    <div class="route-container">
      <div class="route-header">
        <div class="header-caption16">НИЖЕГОРОДСКАЯ ОБЛАСТЬ</div>
        <h2><%= @route.title %></h2>
        <div class="body18"><%= @route.description %></div>
      </div>

      <div id="spots-sidebar" data-route-id=<%= @route.id %>></div>
    </div>

    <div class="map-container"><%= render 'map', route: @route %></div>
  </div>

</div>
