 /* *= require_tree . */
 /* *= require_self */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #F2F2F2;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: .8;
}


h1, h2, h3, h4, p, a {
  margin: 0
}


h1 {
  font-family: TT Travels;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 106px;
}

h2 {
  font-family: TT Travels;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 64px;
}

h3 {
  font-family: TT Travels;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}

h4 {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.section-header32 {
  font-family: AvenirNextCyr-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;

  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.section-header24 {
  font-family: AvenirNextCyr-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.header-caption16 {
  font-family: AvenirNextCyr-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-caption14 {
  font-family: AvenirNextCyr-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-caption12 {
  font-family: AvenirNextCyr-Bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.body18 {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.body18-bold {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.body16-bold {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body14 {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.caption {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

a {}


input[type="checkbox"] {
  display: block;
}
