 /* *= require_tree . */
 /* *= require_self */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, #h1 {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -0.015em;
  text-transform: lowercase;
  color: #333333;
}

#h3 {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;

  letter-spacing: -0.005em;

  color: #000000;
}

#h4 {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: #333333;
}

#h5 {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

#h5--bold {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  display: flex;
  align-items: center;
  color: #333333;
}

#body-l {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  color: #333333;
}

#body-l--bold {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  color: #333333;
}

#body-m {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  color: #333333;
}

#body-m--bold {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  color: #333333;
}

#body-s {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

#body-s--bold {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

#label-s {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #828282;
}

#label-s--bold {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

#label-l--bold {
  font-family: AvenirNextCyr-Medium;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #333333;
}
