.wrapper {
  width: 1440px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F2F2F2;
  padding: 0 40px;
  margin-bottom: 52px;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1360px;
  height: 64px;
  margin: 16px 40px;
  background: #FFFFFF;
  padding: 0 32px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 6px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  z-index: 9;

  .nav-left, .nav-right {
    display: flex;
    justify-content: space-between;
  }

  .nav-right {

    .body16-bold {
      margin-left: 24px;
    }
  }

  .logo img {
    display: inline-block;
    width: 70px;
    height: 24px;
    margin-right: 40px;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 317px;
    height: 28px;

    .body16-bold {
      margin-right: 24px;
    }
  }
}

.section-heading {
  display: flex;
  align-items: center;
  margin: 52px 0;

  span {
    width: 100px;
    height: 4px;
    background: #111;
    margin-right: 20px;
  }
}


.user-profile .button {
  margin-left: 16px;
}
