.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F2F2F2;
}

nav {
  // position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 72px;
  padding: 24px 32px;
  background-color: #fafafa;

  .nav--left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    display: inline-block;
    width: 80px;
    height: 22px;
    // background-image: url(logo.svg);
    margin-right: 40px;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 317px;
    height: 28px;

    #body-l--bold {
      margin-right: 24px;
    }
  }
}

.section__title {
  width: 761px;
  height: 68px;
  margin: 40px 0 40px 32px;
}

.user-profile .username {
  margin-right: 16px;
}
