@font-face {
  font-family: 'TTTravels';
  src: url(../fonts/TTTravels-Bold.ttf);
}

@font-face {
  font-family: 'Avenir';
  src: url(../fonts/AvenirNextCyr-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Avenir';
  src: url(../fonts/AvenirNextCyr-Medium.ttf) format("opentype");
}

@font-face {
  font-family: 'Avenir';
  src: url(../fonts/AvenirNextCyr-Demibold.ttf) format("opentype");
}

@font-face {
  font-family: 'Avenir';
  src: url(../fonts/AvenirNextCyr-Bold.ttf) format("opentype");
}
