.map-container {
  margin-top: 140px;
  // width: 100%;


  .spots-json {
    visibility: hidden;
  }

  #map {
    width: 777px;
    height: 100vh;
  }
}

.mapboxgl-popup-anchor-bottom {
  max-width: 443px !important;
}

.spot-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 2px;
  background: #FBFBFB;

  .spot-info__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    // height: 100%;
    height: 90px;

    #label-s--bold {
      margin-bottom: 12px;
    }

    #body-l {
      margin-bottom: 16px;
    }
  }
}


.spot-popup .mapboxgl-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // width: 443px;
  height: 100%;

  padding: 0;

  box-shadow: none;
  background-color: #fbfbfb;

  .mapboxgl-popup-close-button {
    display: none;
  }

  .spot-image img {
    width: 90px;
    height: 90px;
    border-radius: 2px;
  }
}

//

.mapboxgl-marker {
  background-image: image-url('marker.png');
  background-size: cover;
  padding: 4px;
  width: 40px;
  height: 47px;
  border-radius: 50%;
  cursor: pointer;

  svg {
    display: none;
  }
}


.spot-marker-popup {
  display: flex;
  flex-direction: row-reverse;
  width: 310px;
  height: 82px;

  .spot-marker-content {
    width: 310px;
    height: 82px;
    padding: 16px;
  }

  .spot-marker-pic img {
    width: 110px;
    height: 82px;
  }
}
