// SPOT CARD
.spot-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  height: 197px;
  margin-bottom: 24px;
  background: #fff;

  .spot-image img {
    width: 267px;
    height: 197px;
  }

  .spot-info__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
    height: 157px;
    width: 0;

    .spot-header {
      display: flex;
      flex-direction: column;

      .body14 {
        width: 238px;
        height: 72px;
      }

      .body18-bold {
        margin-bottom: 8px;
      }

      .body16-bold {
        margin-bottom: 8px;
        color: #828282;
      }
    }
  }

  .spot-status {
    position: relative;
    bottom: 189px;
    left: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 110px;

    background: #ffffff;
    border-radius: 18px;

    .active {
      color: green;
    }

    .inactive {
      color: grey;
    }
  }

  .spot-buttons {
    position: relative;
    top: 70%;
    cursor: pointer;
  }

  // MODAL

  .images-wrapper {
    display: inline-block;
    max-width: 30%;
    margin-right: 24px;

    .checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;

      label {
        width: 400%;
      }
    }
  }

  .images-wrapper .spot-image {
    width: 120px;
    height: 89px;
  }

  label.error,
  div.error {
    color: red;
  }

  input.error {
    border-color: red;
  }

  .line-break {
    width: 100%;
  }

  .modal-buttons {
    position: fixed;
    display: flex;
    align-items: center;
    top: 541px;
    left: 252px;
    width: 558px;
    height: 30px;
    background: red;
  }

  button {
    cursor: pointer;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: none;
  z-index: 999;
}

.modal {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 65%;
  background: #b5e6c2;
  z-index: 999;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 75%;
  height: 100%;
  overflow: scroll;
}

.close-btn {
  float: right;
  color: green;
  font-size: 24px;
  font-weight: bold;
}

.close-btn:hover {
  color: black;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.spots-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  // margin-right: 40px;
}

// не путать с #spots-sidebar
.spots-sidebar {
  width: 543px;
}

// .scroll-container {
//   overflow: auto;
//   max-height: 100vh;
// }

// Remove scrollbar space
::-webkit-scrollbar {
  width: 0px;
}
