// _show.html.erb

.spot-block__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 16px;

  background: #fbfbfb;
  border-bottom: #e9e9e9 solid 1px;

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
    z-index: 1;
  }

  .modal {
    position: fixed;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 90%;
    background: #b5e6c2;
    z-index: 1;
  }

  .modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 75%;
  }

  .close-btn {
    float: right;
    color: green;
    font-size: 24px;
    font-weight: bold;
  }

  .close-btn:hover {
    color: black;
  }

  .display-block {
    display: block;
  }

  .display-none {
    display: none;
  }

  .images-wrapper {
    display: inline-block;
    max-width: 30%;
  }

  .spot-image {
    margin: 10px;
    width: 30%;
  }

  .images-wrapper .spot-image {
    margin: 10px;
    width: 80%;
  }

  label.error,
  div.error {
    color: red;
  }

  input.error {
    border-color: red;
  }

  .line-break {
    width: 100%;
  }

  button {
    cursor: pointer;
  }
}

.spot-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;

  // height: 100%;
  height: 90px;

  #label-s--bold {
    margin-bottom: 12px;
  }

  #body-l {
    margin-bottom: 16px;
  }
}

.spot-image--small {
  max-height: 90px;
}

.spot-image--small img {
  width: 90px;
  height: 90px;
  border-radius: 2px;
}

.spot-image--big img {
  width: 475px;
  height: 309px;
  border-radius: 2px;
}

// spots-block from routes >> show.html.erb

.block-container #label-l--bold {
  margin: 16px 0 16px 16px;
}

// index.html.erb

.block-container--spot {
  padding: 0 16px;
  margin-top: 12px;
}

.spot-block {
  width: 70%;

  #body-m--bold {
    margin-bottom: 12px;
    color: #828282;
  }

  #body-l--bold {
    margin: 12px 0 4px 0;
  }
}

.tag-list {
  width: 100%;
  height: 16px;
  overflow: hidden;

  a {
    color: #828282;
  }

  a:hover {
    color: #333;
  }
}

// spots show.html.erb

.spot-block__wrapper--show {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  margin-bottom: 24px;
}

.spot-info-container--show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: 100%;

  margin-top: 24px;

  #body-l {
    margin: 24px 0;
  }
  //
  #label-s--bold {
    margin-right: 24px;
  }
}

.spot-heading--show {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;

  margin-bottom: 12px;
}
