// SPOT CARD
.spot-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  height: 197px;
  margin-bottom: 24px;
  background: #fff;

  .spot-image img {
    width: 267px;
    height: 197px;
  }

  .spot-info__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
    // height: 157px;
    width: 0;

    .spot-header {
      display: flex;
      flex-direction: column;

      .body14 {
        width: 238px;
        height: 72px;
      }

      .body18-bold {
        margin-bottom: 8px;
      }

      .body16-bold {
        margin-bottom: 8px;
        color: #828282;
      }
    }
  }

  .spot-status {
    position: relative;
    bottom: 189px;
    left: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 110px;

    background: #ffffff;
    border-radius: 18px;

    .active {
      color: green;
    }

    .inactive {
      color: grey;
    }
  }
}


.spots-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  // margin-right: 40px;
}

// не путать с #spots-sidebar
.spots-sidebar {
  width: 543px;
}

// Remove scrollbar space
::-webkit-scrollbar {
  width: 0px;
}
