// PROFILE

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px 0 40px;

  h3 {
    margin: 24px 0 12px;
  }

  .manage-buttons {
    display: flex;
    justify-content: space-between;
    width: 223px;
  }
}

.tab-bar {
  display: flex;
  // flex-direction: column;
  justify-content: flex-start;

  div.body18-bold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 311px;
    height: 52px;
    background: #FFFFFF;

    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;

    margin-right: 8px;
  }

  div.body18-bold:hover {
    border: 1.5px solid #E6E6E6;
    border-radius: 2px;
  }

  .hidden {
    display: none;
  }
}

.spot-info__container-show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;
  height: 197px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  .spot-edit, .spot-delete {
    width: 100px;
    margin-right: 16px;
  }
}
